        1、luci-app-autoupdate
        2、luci-app-eqos-mtk
        3、luci-app-firewall
        4、luci-app-mtwifi-cfg
        5、luci-app-nikki
        6、luci-app-opkg
        7、luci-app-samba4
        8、luci-app-ssr-plus
        9、luci-app-ttyd
        10、luci-app-turboacc-mtk
        11、luci-app-upnp-mtk-adjust
        12、luci-app-wrtbwmon 
        13、luci-theme-argon
        14、luci-theme-bootstrap